<input type="checkbox" <% if (completed) { %>checked<% } %>>
<form>
    <input class='test' type="text" value="<%= title %>">
</form>
<span>
    <%= title %>
</span>
<button class="destroy">&times;</button>